/*css reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Helvetica Neue", sans-serif;
	background-color: #D0D0E0;
}

#proj1{
	background-color: #9090C0;
 	border-color: #8383C1;
    border-style: transparent;
    color: white;
}

#proj2{
	background-color: #9090C0;
 	border-color: #8383C1;
    border-style: transparent;
    color: white;
}